html {
    scroll-behavior: smooth;
  }
  
  body {
      color: #161616;
    }
  
    a {
      color: --text-color;
    }
  
    .visually-hidden {
      display: none;
    }
  
    .card-category{
      color: --color-black;
    }
  
    .section-tagline {
      color: --color-primary;
    }

    :root {
        --color-primary: #D73953;
        --color-black: #090909;
        --color-white: #ffffff;
        --color-dark-grey: #353535;
        --text-color: --color-black;
    }